/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	padding-top: 6rem;

	h6 {
		margin-bottom: 2rem;
	}

	.footer__inner {
		border-bottom: solid 1px #2C2C2C;
		padding-bottom: 4rem;
	}

	.footer__entry {
		padding: 2rem 1rem;
	}

	.footer__nav {
		margin-bottom: 3rem;
	}
}