/* ------------------------------------------------------------ *\
	List partners
\* ------------------------------------------------------------ */

.list-partners {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include breakpoint-down(mobile) {
		flex-direction: column;
	}
}