/* ------------------------------------------------------------ *\
	Section intro
\* ------------------------------------------------------------ */

.section-intro {
	padding-top: 6rem;

	h3 {
		margin-bottom: 2.3rem;
	}
	
	.section__image {
		position: relative;
		padding-bottom: 40%;
	}

	.section__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}