	<footer class="footer">
		<div class="footer__inner">
			<div class="shell">
				<div class="grid footer__grid">
					<div class="grid__col grid__col--size1">
						<a href="#" class="logo logo--alt">
							<img src="assets/images/logo.svg" alt="" width="" height="">
						</a>
					</div><!-- /.grid__col grid__col-/-size -->
					
					<div class="grid__col grid__col--size2">
						<nav class="nav nav--alt footer__nav">
							<ul>
								<li>
									<a href="#">Home</a>
								</li>
								
								<li>
									<a href="#">Buy tickets</a>
								</li>
								
								<li>
									<a href="#">About us</a>
								</li>
								
								<li>
									<a href="#">Contacts</a>
								</li>
							</ul>
						</nav><!-- /.nav -->
						
						<div class="socials footer__socials">
							<ul>
								<li>
									<a href="#">
										<img src="assets/images/svg/facebook.svg" alt="" width="" height="">
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/images/svg/instagram.svg" alt="" width="" height="">
									</a>
								</li>
								
								<li>
									<a href="#">
										<img src="assets/images/svg/twitter.svg" alt="" width="" height="">
									</a>
								</li>
							</ul>
						</div><!-- /.socials -->
					</div><!-- /.grid__col grid__col-/-size -->
					
					<div class="grid__col grid__col--size3">
						<div class="footer__address">
							<h6>Our officess</h6>
							
							<ul class="list-addresses">
								<li>13 NE 20th Street, Guymon,ok, <br> 33942  United States</li>
								
								<li>7 Earl Court, Darien,il, <br> 60561  United States</li>
								
								<li>4 Twin Lakes Boulevard, <br> Greenwood,ms, <br> 38930  United States</li>
								
								<li>8 S Margaret Street, Joliet,il, <br> 60436  United States</li>
							</ul><!-- /.list-adresses -->
						</div><!-- /.footer__address -->
					</div><!-- /.grid__col grid__col-/-size -->
					
					<div class="grid__col grid__col--size4">
						<div class="subscribe footer__subscribe">
							<h6>Subscribe for us and recive first best offers</h6>

							<div class="subscribe__inner footer__subscribe--entry">
								<input type="email" id="mail" name="mail" value="" placeholder="Email" class="subscribe__field">

								<input type="submit" value="GO" class="subscribe__btn">
							</div><!-- /.subscribe__inner -->
						</form>
					</div><!-- /.subscribe footer__subscribe -->
				</div><!-- /.grid__col grid__col-/-size -->
			</div><!-- /.grid -->
		</div><!-- /.shell -->

	</div><!-- /.footer__inner -->

	<div class="footer__entry">
		<div class="credist">
			<p>By Teodor Yonev and Borislav Ivanov</p>
		</div><!-- /.credist -->
	</div><!-- /.footer__entry -->
</footer><!-- /.footer -->