<header class="header">
	<div class="header__bar">
		<ul class="list-contacts">
			<li>
				<a href="mailto:info@mochi-travel.com">
					<img src="assets/images/svg/mail.svg" alt="" width="" height=""> info@mochi-travel.com
				</a>
			</li>
			
			<li>
				<a href="tel:359895744607">
					<img src="assets/images/svg/phone.svg" alt="" width="" height=""> +359 895 744 607
				</a>
			</li>
		</ul><!-- /.list-contacts -->
		
		<div class="socials header__socials">
			<ul>
				<li>
					<a href="#">
						<img src="assets/images/svg/facebook.svg" alt="" width="" height="">
					</a>
				</li>
				
				<li>
					<a href="#">
						<img src="assets/images/svg/instagram.svg" alt="" width="" height="">
					</a>
				</li>
				
				<li>
					<a href="#">
						<img src="assets/images/svg/twitter.svg" alt="" width="" height="">
					</a>
				</li>
			</ul>
		</div><!-- /.socials -->
	</div><!-- /.header__bar -->
	
	<div class="header__inner">
		<a href="#" class="logo">
			<img src="assets/images/logo.svg" alt="" width="177" height="98">
		</a>

		<a href="#" class="trigger js-trigger">
			<span></span>
				
			<span></span>
				
			<span></span>
		</a>

		<div class="header__entry js-header-entry">
			<nav class="nav header__nav">
				<ul>
					<li class="is-current">
						<a href="home.html">Home</a>
					</li>
					
					<li>
						<a href="buy tickets.html">Buy tickets</a>
					</li>
					
					<li>
						<a href="#">About us</a>
					</li>
					
					<li>
						<a href="#">Contacts</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.header__entry -->
	</div><!-- /.header__inner -->
</header><!-- /.header -->